
    <header class="main-head">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12 ">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="#"><h3>Welcome to my website</h3> </a>
                        
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          
                        
                        </div>
                       
                      </nav>
                      
                        <a href="/logout" class="btn btn-danger logout">Logout</a>
                        
                     </div>
            </div>
        </div>
    </header>
   
      <div class="sidebar">
  <a href="#home"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="#services"><i class="fa fa-fw fa-user"></i> Profile</a>
  <a href="#contact"><i class="fa fa-fw fa-user-graduate"></i>Students</a>
  <a href="#contact"><i class="fa fa-fw fa-arrow-circle-up"></i>Uploads</a>
  <a href="#contact"><i class="fa fa-fw fa-pen-square" ></i>Class works</a>
  <a href="#contact"><i class="fa fa-fw fa-arrow-circle-up"></i>Announcements</a>
  <a href="#contact"><i class="fa fa-fw fa-envelope"></i>Photos</a>
</div>
    
    

