<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>
<embed src="file_name.pdf" width="800px" height="2100px" />
<i class="fas fa-plus"></i>
<video width="300px" height="200px" controls loop autoplay muted>
        <source src="http://techslides.com/demos/sample-videos/small.mp4">
    </video>
    date:new Date()
    <a class="btn btn-flat red-text p-1 my-1 mr-0 mml-1 collapsed" data-toggle="collapse" href="#collapseContent" aria-expanded="false" aria-controls="collapseContent"></a>
      <i class="fas fa-share-alt text-muted float-right p-1 my-1" data-toggle="tooltip" data-placement="top" title="Share this post"></i>
      <i class="fas fa-heart text-muted float-right p-1 my-1 mr-3" data-toggle="tooltip" data-placement="top" title="I like it"></i>
 $(function() {
    $.grep(events, function(event) {
      /*1 dia */
      var data = event.Date;
      var dia = data.getDate();
      if (dia.toString().length == 1) {
        dia = "0" + dia;
      }
  
      var mes = data.getMonth() + 1;
      if (mes.toString().length == 1) {
        mes = "0" + mes;
      }
  
      var ano = data.getFullYear();
      data_final = dia + "/" + mes + "/" + ano;
  
     
    });
    
  });
  





  router.get('/success',(req,res)=>{
       const payerId=req.query.PayerID;
       const paymentId=req.query.paymentId;
       var execute_payment_json={
         "payer_id":payerId,
         "transactions":[{
           "amount":{
             "currency":"INR",
             "total":req.body.price
           }
         }]
       };
       paypal.payment.execute(paymentId,execute_payment_json,function(error,payment){
         if(error){
           console.log(error.response);
           throw error;
         }else{
         
          console.log(JSON.stringify(payment))
          res.send('success')

         }
       })
     })
    router.get('/cancel',(req,res)=>{
      res.send('cancelled')
    })



    var canvas  = $("#canvas"),
    context = canvas.get(0).getContext("2d"),
    $result = $('#result');

$('#fileInput').on( 'change', function(){
    if (this.files && this.files[0]) {
      if ( this.files[0].type.match(/^image\//) ) {
        var reader = new FileReader();
        reader.onload = function(evt) {
           var img = new Image();
           img.onload = function() {
             context.canvas.height = img.height;
             context.canvas.width  = img.width;
             context.drawImage(img, 0, 0);
             var cropper = canvas.cropper({
               aspectRatio: 16 / 9
             });
             $('#btnCrop').click(function() {
                // Get a string base 64 data url
                var croppedImageDataURL = canvas.cropper('getCroppedCanvas').toDataURL("image/png"); 
                $result.append( $('<img>').attr('src', croppedImageDataURL) );
             });
             $('#btnRestore').click(function() {
               canvas.cropper('reset');
               $result.empty();
             });
           };
           img.src = evt.target.result;
				};
        reader.readAsDataURL(this.files[0]);
      }
      else {
        alert("Invalid file type! Please select an image file.");
      }
    }
    else {
      alert('No file(s) selected.');
    }
});


<img id="blah" src="#" alt="your image" style="display:block;
                      max-width:100%;"/>

const canvas=this.cropper.getCroppedCanvas();
                croppedImage.src=canvas.toDataURL('image/png');


let imgUrl=cropper.getCroppedCanvas().toDataURL();
        //const val=imgUrl.split(',')[1]
        //console.log(val)
        const img=document.createElement('img');
        img.src=imgUrl;
        document.getElementById('cropResult').appendChild(img)








function imageCrop(id){
   import Cropper from 'cropperjs';
const image = document.getElementById(id);
const cropper = new Cropper(image, {
  aspectRatio: 16 / 9,
  crop(event) {
    console.log(event.detail.x);
    console.log(event.detail.y);
    console.log(event.detail.width);
    console.log(event.detail.height);
    console.log(event.detail.rotate);
    console.log(event.detail.scaleX);
    console.log(event.detail.scaleY);
  },
});
 }










cropper.getCroppedCanvas()toBlob(function(blob){
           let base64data;
           var reader=new FileReader();
           reader.readAsDataURL(blob);
           reader.onloadend=function(){
               base64data=reader.result;
               console.log('base64',base64data)
           }
           console.log('ajax')
           $ajax({
               url:'/upload-img',
               method:'POST',
               data:{base64data},
               success:(res)=>{
                   console.log(res)
               }
           })
       })
       <input type="file" class="form-control"  name="upload" id="video" >
       db.datecol.find(
{
    "date": 
    {
        $gte: new Date((new Date().getTime() - (15 * 24 * 60 * 60 * 1000)))
    }
}
).sort({ "date": -1 })