<form action="/action_page.php">
  <div class="form-group">
    <label for="message">Type the content here</label>
    <input type="email" class="form-control" id="email">
  </div>
  
  
  <button type="submit" class="btn btn-default">Submit</button>
</form>