<div class="container event-section">
  <div class="row">



  <div class="col-md-12 mt-2">
<ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab"
                                     href="#home" role="tab" aria-controls="home" 
                                     aria-selected="true">Normal Events</a>
                                </li>
                                <li class="nav-item">
                      <a class="nav-link" style="color:#d42b2b ;" id="profile-tab" data-toggle="tab" href="#profile" 
                      role="tab" aria-controls="profile" aria-selected="false">Paid Events</a>
                                </li>
                            </ul>
    </div>





    <div class="col-md-12">
     <div class="tab-content profile-tab" id="myTabContent ">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" 
                            aria-labelledby="home-tab">
                                       
                                       
       
      <form class="background-form mt-2 " action="/normal-event" method="post" enctype="multipart/form-data">

       <div class="form-group">
    <label class="heading content-head"for="">Type content</label>
    <input type="text " class="form-control content-text" name="content" required >
    <button class="btn btn-primary" onclick="enablefield()">Click to add files</button>
  </div>
 <fieldset id="myfield" disabled>
<div class="card col-md-4 card-style" style="width: 18rem;">
  <img class="card-img-top" src="">
  <div class="card-body">
    
   
     <input type="file" class="form-control" name="event" id="event">
     
  </div>
  <div>
    <progress id="progressBar" value="0" max="100" style="width:300px;"></progress>
  <h3 id="status"></h3>
  <p id="loaded_n_total"></p>
  
  </div>
</div>
</fieldset>
  <button type="submit" class="btn btn-success mt-4" onclick="uploadFiles()">Submit</button>
  </form> 
  
   
                            </div>




                            <div class="tab-pane fade" id="profile" role="tabpanel" 
                            aria-labelledby="profile-tab">
                                      
     <form class="background-form mt-2" action="/paid-event" method="post" enctype="multipart/form-data">

       <div class="form-group">
    <label class="heading content-head"for="">Type content</label>
    <input type="text " class="form-control content-text max-content" name="content" required >
    <label class="heading content-heads"for="">Enter Price</label>
    <input type="number " class="form-control mb-1" name="price" required >
    <button class="btn btn-primary" onclick="enablefile()">Click to add file</button>
  </div>
 <fieldset id="myworld" disabled>
<div class="card col-md-4 card-style" style="width:18rem; height:15rem;">
   
  <img class="card-img-top" src="">
  
  <div class="card-body">
    
   
     <input type="file" class="form-control" name="event" value="single" >
     
  </div>
  <div>
    <progress id="Bar" value="0" max="100" style="width:300px;"></progress>
  <h3 id="sta"></h3>
  <p id="loaded"></p>
  
  </div>
  
</div>
</fieldset>
  <button type="submit" class="btn btn-success mt-4"  >Submit</button>
  </form> 
                               
</div>


                            
  </div>
    </div>



  </div>
</div>
<script>
  //function _(el) {
  //return document.getElementById(el);
//}

function uploadFiles() {
  var file = document.getElementById("event").files[0];
  // alert(file.name+" | "+file.size+" | "+file.type);
  var formdata = new FormData();
  formdata.append("event", file);
  var ajax = new XMLHttpRequest();
  ajax.upload.addEventListener("progress", progressHandler, false);
  ajax.addEventListener("load", completeHandler, false);
  ajax.addEventListener("error", errorHandler, false);
  ajax.addEventListener("abort", abortHandler, false);
  ajax.open("post",'/normal-event',true); 
  ajax.send(formdata);
}

function progressHandler(event) {
  document.getElementById("loaded_n_total").innerHTML = "Uploaded " + event.loaded + " bytes of " + event.total;
  var percent = (event.loaded / event.total) * 100;
 document.getElementById("progressBar").value = Math.round(percent);
 document.getElementById("status").innerHTML = Math.round(percent) + "% uploaded... please wait";
}

function completeHandler(event) {
 document.getElementById("status").innerHTML = event.target.responseText;
 document.getElementById("progressBar").value = 0; //wil clear progress bar after successful upload
}

function errorHandler(event) {
  document.getElementById("status").innerHTML = "Upload Failed";
}

function abortHandler(event) {
 document.getElementById("status").innerHTML = "Upload Aborted";
}
</script>
