
body{
  background-color:hsl(0, 0%, 98%); 
  scroll-padding-top: 7rem;
 margin:0;
 padding: 0;
}
/**created navbar**/
 .navbar-nav .nav-link {
  color: rgb(168, 177, 42);
  font-weight: bold;
}
  .logo{width: 3rem;}
  .main{background-color:#0b9c90;
   width: 100%;
   position:fixed;
   top:0;
   z-index: 100;}
  .textclr{color: white;
     font-weight:500;
     font-size: large;
      margin-left: 2rem;}
 

/**setting background for landing page**/
.landbackgound{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6M3VYws0eOcY70mNLBd3QNIU0NU2eddIHVw&usqp=CAU');
  opacity: 2px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/**side navbar**/
.section0{
position: relative;
}
.sidebar {
  height: 100%;
  width: 160px;
  position:fixed;
  z-index: 1;
  
  left: 0;
  background-color: #0b9c90;
  overflow-x: hidden;
  padding-top: 100px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #0e0d0d;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
.table{
  
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
/*landing page*/
.image {
  opacity: 1;
  display: block;
  width: 50%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  margin-left: 25%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.indicate:hover .image {
  opacity: 0.3;
  
  
}

.indicate:hover .middle {
  opacity: 1;
}

.button{
  background-color: #4CAF50;
  color: white;
  
  padding: 10px 32px;
}
.indicate{
  margin-top:10%;
}
/*cards*/
.vi {border-left: 6px solid #0b9c90;
  border-radius: 1rem;
  height: 500px;
  overflow:scroll;
 
  border-top-style: groove;
  border-top-color:#0b9c90 ;
  border-bottom-style: groove;
  border-bottom-color:#0b9c90;
  border-right: 6px solid#0b9c90;
  
}
.section1{
  padding-top:7rem;
  position: relative;
}
/**login validation**/
.invalid{
  color:white;
}
/**student otp**/
@import '~js-datepicker/dist/datepicker.min.css';

/** month display**/
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
