
<section class="section1">
<div class="container ">
    <div class="row">
        <div class="col-md-6  vi col-12">
            <div class="card-body">

            
            <table class="table table-borderless">
    <thead>
      <tr>
        
        <th>Class works</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        
      </tr>
      
    </tbody>
  </table>
  </div>

        </div>
         <div class="col-md-6  vi col-12">
            <div class="card-body">

            
            <table class="table table-borderless">
    <thead>
      <tr>
        
        <th>Notice board</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        
      </tr>
      
    </tbody>
  </table>
  </div>

        </div>
    </div>
</div>

 
</section>