<div class="containsr">
    <div class="row">
         {{#each pic}}
        <div class="card col-md-4 card-style card-today ml-5" style="width: 18rem;">
  
  <div class="card-body">
       
       <div class="profile-img">
                            <img style="width:200px;height:200px" src="/gallery/{{this._id}}.png" id="imageId">
                            <div class="file btn btn-lg btn-primary" >
                               {{this.title}}
                                
                            </div>
                            
                        </div>
                     
            
    
     
  </div>
  
  
</div>
{{/each}}
  
    </div>
</div>